@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:600i");

* {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #333333;
  color: #f4f4f4;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*    Cursor    */
.txt-type > .txt{
  border-right: 0.2rem solid #f4f4f4;
}

h1 {
  font-size: 3rem;
  margin: 0.4rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2em;
  }
}

